<div id="read-task-div">
    <div class="container">
        <div class="row">
            <div class="col-md-6 read-task-head">
                <h3>
                    All Tasks
                </h3>
            </div>
            <div class="col-md-6 create-task-button">
                <button type="button" class="btn btn-primary">Create New</button>
            </div>
        </div>
        <table class="table table-borderless">
            <thead>

            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
</div>