<section id="delete-task-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="modal fade" id="deleteTaskModal" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="modal-title">{{title_text}}</h5>
                                <button class="btn-close" (click)="redirect()" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="task-details">
                                    <div class="task-head text-danger">
                                        <p>Do you want to delete the following task?</p>
                                    </div>
                                    <div class="task-body">
                                        <div class="spacer">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Task Id</th>
                                                            <th>Task Title</th>
                                                            <th>Task Description</th>
                                                            <th>Task Created</th>
                                                            <th>Task Updated</th>
                                                            <th>Task Status</th>
                                                            <th>Project Id</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="task!=null">
                                                        <tr>
                                                            <td>{{task.taskId}}</td>
                                                            <td>{{task.taskTitle}}</td>
                                                            <td>{{task.taskDescription}}</td>
                                                            <td>{{task.taskCreateDate | date}}</td>
                                                            <td>{{task.taskUpdateDate | date}}</td>
                                                            <td>{{task.taskStatus}}</td>
                                                            <td>{{task.project.projectId}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="redirect()"><i
                                        class="fas fa-caret-square-left"></i>&nbsp;&nbsp;CANCEL</button>
                                <button type="button" class="btn btn-danger" (click)="deleteTask()"><i
                                        class="fas fa-minus-square"></i>&nbsp;&nbsp;DELETE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
        </div>
    </div>
</section>