h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
p {
  margin: 0px;
}
#delete-task-section .container-fluid .modal {
  background-image: url("../../assets/images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#delete-task-section .container-fluid .modal .modal-dialog .modal-footer {
  padding: 1rem;
}
#delete-task-section .container-fluid .modal .modal-dialog .modal-content {
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
}
#delete-task-section
  .container-fluid
  .modal
  .modal-dialog
  .modal-footer
  button {
  margin: 0px;
}
#delete-task-section
  .container-fluid
  .modal
  .modal-dialog
  .modal-footer
  .btn-primary {
  margin: 0rem 1rem 0rem 0rem;
}
#delete-task-section .container-fluid .modal .modal-dialog .modal-body .spacer {
  margin: 1rem 0rem 0rem 0rem;
}
#delete-task-section
  .container-fluid
  .modal
  .modal-dialog
  .modal-body
  table
  thead {
  background-color: #f4f6f6;
}
#delete-task-section
  .container-fluid
  .modal
  .modal-dialog
  .modal-body
  table
  thead
  tr
  th,
#delete-task-section
  .container-fluid
  .modal
  .modal-dialog
  .modal-body
  table
  tbody
  tr
  td {
  text-align: center;
  vertical-align: middle;
}
.btn {
  border-radius: 0px;
  outline: none;
  box-shadow: none !important;
}
