<app-header></app-header>
<section id="read-task-section">
    <div class="container">
        <div class="read-task">
            <div class="read-task-header">
                <h3>{{title_text}}</h3>
                <a class="btn btn-primary shadow-sm" routerLink="/create"><i
                        class="fas fa-plus-square"></i>&nbsp;&nbsp;CREATE
                    TASK</a>
            </div>
            <div class="read-task-body">
                <div class="spacer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="search-task">
                                <input type="text" [(ngModel)]='taskFilter' class="form-control"
                                    placeholder="Search By Task Title" autofocus>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Task Id</th>
                                    <th>Task Title</th>
                                    <th>Task Description</th>
                                    <th>Task Created</th>
                                    <th>Task Updated</th>
                                    <th>Task Status</th>
                                    <th>Project Id</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="filteredTasks!=null">
                                <tr *ngFor="let task of filteredTasks">
                                    <td>{{task.taskId}}</td>
                                    <td>{{task.taskTitle}}</td>
                                    <td>{{task.taskDescription}}</td>
                                    <td>{{task.taskCreateDate | date}}</td>
                                    <td>{{task.taskUpdateDate | date}}</td>
                                    <td>{{task.taskStatus}}</td>
                                    <td><a title="View Project Details"
                                            [routerLink]="['/project', task.projectId]">{{task.projectId}}</a></td>
                                    <td><a class="btn btn-primary shadow-sm" [routerLink]="['/update', task.taskId]"><i
                                                class="fas fa-pen-square"></i>&nbsp;&nbsp;UPDATE</a></td>
                                    <td><a class="btn btn-danger shadow-sm" [routerLink]="['/delete', task.taskId]"><i
                                                class="fas fa-minus-square"></i>&nbsp;&nbsp;DELETE</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="read-task-footer">
                <div class="spacer">
                    <p>
                        <button type="button" class="btn btn-primary shadow-sm" (click)="navigateHome()"><i
                                class="fas fa-caret-square-left"></i>&nbsp;&nbsp;BACK</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>