h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
p {
  margin: 0px;
}
.read-task {
  -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 144px 0px 80px 0px;
  border-radius: 10px;
  padding: 1.5rem;
}
.read-task .read-task-header,
.read-task .read-task-body {
  min-width: 100%;
}
.read-task .read-task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0rem 1.5rem 0rem;
  border-bottom: 2px solid #f4f6f6;
}
.read-task .read-task-header h3 {
  text-align: center;
}
.read-task .read-task-body .spacer {
  margin: 1.5rem 0rem 0rem 0rem;
}
.read-task .read-task-body table tbody tr td {
  vertical-align: middle;
}
