<app-header></app-header>
<section id="create-task-section">
    <div class="container">
        <div class="read-task">
            <div class="read-task-header">
                <h3>{{title_text}}</h3>
                <a class="btn btn-primary" routerLink="/create">Add New</a>
            </div>
            <div class="read-task-body">
                <div class="spacer">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Task Id</th>
                                    <th>Task Title</th>
                                    <th>Task Description</th>
                                    <th>Task Status</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of tasks">
                                    <td>{{task.taskId}}</td>
                                    <td>{{task.taskTitle}}</td>
                                    <td>{{task.taskDescription}}</td>
                                    <td>{{task.taskStatus}}</td>
                                    <td><a class="btn btn-primary" [routerLink]="['/update', task.taskId]">Update</a>
                                    </td>
                                    <td><a class="btn btn-primary" [routerLink]="['/delete', task.taskId]">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>