h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
p {
  margin: 0px;
}
.task {
  -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 144px 0px 80px 0px;
  padding: 1.5rem;
  background-color: #ffffff;
}
.task .task-head,
.task .task-body {
  min-width: 100%;
  text-align: center;
}
.task .task-head {
  padding: 0rem 0rem 1.5rem 0rem;
}
.task .task-body .create-task,
.task .task-body .view-task {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.task .task-body .create-task button,
.task .task-body .view-task button {
  width: 100%;
}
.btn {
  border-radius: 0px;
}
